<div class="gallery-container">
	{% for asset in pictures -%}
	{% set image = resize_image(path=asset, width=180, height=180, op="fit") %}
	<a data-fslightbox="{{name}}" href="{{ get_url(path=asset) }}" target="_blank"></a>
	<img src="{{image.url}}" onclick='open_lightbox("{{name}}")' />
	{%- endfor %}
</div>