@property --company-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #d0fafc;
}

@property --text-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #042348;
}

@property --company-light-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #e8fcfd;
}

@font-face {
	font-family: Hind-Regular;
	src: url(Hind-Regular.ttf)
}

body {
	background-color: #d0fafc;
	color: #042348;
	margin: 0;
	font-family: Hind-Regular, serif;
}

.title {
	color: #042348;
}

.header {
	display: grid;
	grid-template-columns: 160px 1fr;
}

.logo {
	background-color: #042348;
	color: white;
}

.logo h2 {
	text-align: center;
	color: white;
}

@media (max-width: 700px) {
	.container {
		position: relative;
		display: grid;
		grid-template-columns: 10% 1fr 10%;
	}
}

@media (min-width: 700px) {
	.right_side_image {
		position: absolute;
		right: 0;
		top: 20px;
	}

	.container {
		position: relative;
		display: grid;
		grid-template-columns: 20% 1fr 20%;
	}
}

.language {
	margin: auto;
}

.header {
	background-color: #e8fcfd;
}

@media (min-width: 700px) {
	.nav {
		margin: auto;
		display: flex;
		flex-direction: row;
	}

	.nav a,
	.nav div {
		margin: 5px;
	}
}

@media (max-width: 700px) {

	.nav,
	.nav a,
	.nav div {
		display: none;
	}
}

#map {
	height: 500px;
}