<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Atelier Wegi</title>
	<link rel="stylesheet" type="text/css" href="/site.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block head %} {% endblock %}
</head>

<body>
	<section class="section">
		<div class="header">
			<div class="logo">
				<h2>atelier wegi</h2>
			</div>
			<div class="header">
				<div class="language">
					{% if section %}
					<a href="{{ get_url(path="/", lang="de" ) }}">Deutsch</a>
					<a href="{{ get_url(path="/", lang="en" ) }}">English</a>
					{% else %}
					{% for translation in page.translations %}
					<a href="{{translation.permalink}}">{% if translation.lang == "de" %}Deutsch{% else %}English{% endif %}</a>
					{% endfor %}
					{% endif %}
				</div>
				<div class="nav">
					<a href="{{ get_url(path="/", lang=lang) }}">{{trans(key="home", lang=lang) }}</a>
					<a href="{{ get_url(path="@/about/index.md", lang=lang) }}">{{trans(key="about", lang=lang) }}</a>
					<a href="{{ get_url(path="@/services/architecture.md", lang=lang) }}">{{trans(key="architecture", lang=lang)
						}}</a>
					<a href="{{ get_url(path="@/services/color-consulting.md", lang=lang) }}">{{trans(key="color_consulting",
						lang=lang) }}</a>
					<a href="{{ get_url(path="@/contact/index.md", lang=lang) }}">{{trans(key="contact", lang=lang) }}</a>
				</div>
			</div>
		</div>
		<div class="hero">
			{% block hero %} {% endblock %}
		</div>
		<div class="container">
			{% block content %} {% endblock %}
		</div>
	</section>
	{% block script %} {% endblock %}
	<script src="/fslightbox.js"></script>
	<script>
		function open_lightbox(name) {
			fsLightboxInstances[name].open();
		}
	</script>
</body>

</html>