{% extends "base.html" %}

{% block content %}
<div></div>
<div style="position: relative" class="content">
  {{ page.content | safe }}
</div>
<div>
  {% block right_content %}
  {% endblock right_content %}
</div>
{% endblock content %}